html{
	font-size: 62.5%;
}
@mixin maxWidth{
	margin:0 auto;
	max-width: 780px;
	min-width: 320px;
}
body{
	@include maxWidth;
}
$color-gray:#ffffff;
header{
	@include maxWidth;
	background-color: #5fc0cd;
	padding: 0.5rem 0;
	text-align: center;
	position: fixed;
	top: 0;left: 0;right: 0;
	   }

.b1,.b2{
	height: 3.5rem;font-size: 1.8rem;
	border-radius: 0.5rem;
	outline:none;border-width:0;
}

.b1{
	background-color: #55a8b3;color: $color-gray;width: 8rem;
}
.b2{
	background-color: $color-gray;color: #5fc0cd;width: 7rem;position: relative;left: -1rem;
}

.icon1{
	height: 3rem;width: 3rem;
	background-image: url(images/xbt.png);background-repeat: no-repeat;
    background-position: -2rem -3rem;
	position: absolute;right: 1rem;top: 0.75rem;
	background-size: 6rem;
	border:none 0;background-color: #5fc0cd;
       }

.top{
	margin:0 auto;
	max-width: 778px;
	min-width: 320px;
	height: 2.5rem;
	padding:0.5rem 0; 
	border-bottom: solid #e2e2e2 0.1rem;
	border-left:solid #e2e2e2 1px;
	border-right:solid #e2e2e2 1px;
	position: fixed;top: 4.5rem;left: 0;right: 0;
	background-color:$color-gray;
	 font-size: 1.5rem;
	 align-items: center;
	 display: flex;
}
.dropdown{
	position:relative;
	width:33.3333%;
	font-size:1.6rem;
}
.dropbtn{
	font-size:1.6rem;
	background-color:white;
	color:#a2a2a2;
	border:none;
	width:99%;
	outline:none;
	padding:0.3rem 0;
}
.dropdown-middle{
	border-left:solid 1px #e2e2e2;
	border-right:solid 1px #e2e2e2;
}
.caret{
	display:inline-block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top:8px solid #a2a2a2;
	margin-left:10%;
}
.dropdown-menu{
	display:none;
	margin-top: 3px;
	position:absolute;
	text-align:center;
	width:99%;
	background-color:white;
	border:solid 1px #e2e2e2;
	div{
		padding:3px 0;
		a{
			text-decoration: none;
			color:#a2a2a2;
			text-align:center;		
		}
	}
	div:hover{
		background-color:#e2e2e2;
		color:black;
		a{
			color:black;
		}
	}
}

.dropdown:hover .dropdown-menu{
	display:block;
}
.dropdown:hover .dropbtn{
	background-color:#e2e2e2;
	color:black;
	.caret{
		border-top:8px solid black;
	}
}
.main{
	margin: 8rem 0 0 0;
	padding-bottom: 8rem;
	font-size: 1.7rem;
	border-left:solid #e2e2e2 1px;
	border-right:solid #e2e2e2 1px;
}
ul{
	list-style-type:none;
	padding-left:0;
}
.option{
	padding:1rem;
	border-bottom: solid #e2e2e2 0.1rem;
}

.line1{
	width: 1.8rem;
	height: 1.8rem;
	margin: 0;
	background-image: url(images/xbt.png);
	background-size: 6rem;
	white-space: nowrap;
	span{
	width: 12rem;
	display: block;
	padding-left: 3rem;
	color: #a2a2a2;}
}



.line2{
	margin: 0.5rem 0;
	height: 2rem;
	line-height: 2rem;
	font-size: 2rem;
	padding-left: 3rem;
	display: flex;
	justify-content: space-between;
}

.text2-1{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.text2{
	float: right;
	white-space: nowrap;
	display: flex;
	span{
		padding-right: 1rem;
		color: #e63b0e;
		white-space: nowrap;
	}
	a{
		display: block; 
		width: 1.5rem;
		height: 2rem;
		float: right;
		margin: 0.2rem 0 0 0;
		background-image: url(images/xbt.png);
		background-position: 0 -4rem;
		background-size: 6rem;
	}
}

 .line3{
 	width: 1.8rem;
 	height: 1.8rem;
 	margin: 0;
	background-image: url(images/xbt.png);
	background-size: 6rem;
	background-position: 0 -2rem;
	span{
		width: 14rem;
		display: block;
		padding-left: 3rem;
		color: #a2a2a2;
		white-space: nowrap;
	}
}


footer{
	height: 5rem;
	background-color: #f8fafb;
	position: fixed;
	left: 0;right: 0;bottom: 0;
    border-top: solid #e2e2e2 0.1rem;
    display: flex;
    align-items: center;
    margin:0 auto;
	max-width: 778px;
	min-width: 320px;
    border-left:solid #e2e2e2 1px;
	border-right:solid #e2e2e2 1px;
	padding:5px 0;
}

.footer1{
	margin-left:10%;
	height: 4.5rem;
	text-align: center;
	color: #5fc0cd;
	div{
		width: 3rem;
		height: 3rem;
		background-image: url(images/xbt.png);
		background-repeat: no-repeat;
		background-position: 0 -6.5rem;
		background-size: 6rem;
		margin-bottom: 0.2rem;
	}
}


.footer2{
	width: 4.5rem;
	height: 4.5rem;
	background-color: #5fc0cd;
	border-radius: 50%; 
	margin:auto;
    align-items: center;
    div{
		background-image: url(images/footer.png);
		background-size: 100%; 
		width: 2.5rem;
		height: 2.5rem;
		background-repeat: no-repeat;
		margin: 1rem auto 1.25rem auto;
	}
}

.footer3{
	margin-right: 10%; 
	height: 4.5rem;
	text-align: center;
	color: #a2a2a2;
	div{
		width: 3rem;
		height: 3rem;
		background-image: url(images/xbt.png);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 6rem;
		margin-bottom: 0.2rem;
	}
}